<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Sep, 2016 - Sep, 2018</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Information Technology Engineering</div>
               <h4 class="category">Shiraz University, Shiraz, Iran
               </h4>
               <ul>
                <li> Shiraz University Is One of the Major Universities of Iran. It Has Always Ranked as <b>Top 5</b> Among Iranian Universities</li>
                    <li>Completed M.S in Information Technology Engineering with <b>B+ GPA (16)</b>.</li>
                 <li>Receive <b>Excellent Grade (A+)</b> For My <b>Thesis</b></li>
                 <li>Thesis Topic: <b>Proposing a Method to Improve Anomaly Detection in Social Network</b></li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Sep, 2010 - Feb, 2015</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Software Engineering</div>
               <h4 class="category">Ferdowsi University, Mashhad, Iran
               </h4>
               <ul>
                <li> <a href="https://en.um.ac.ir/">Ferdowsi University of Mashhad</a> is <b>ranks 13th</b> in Iran. It Is One of The Major Universities of Iran </li>
                    <li>Completed B.E in Computer Engineering with <b>B- GPA(15)</b>.</li>
                 <li>Receive <b>A+ GPA (20)</b>For Bachelor Project (Virtual Education System).</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>